{% extends "calendar/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block title %}
    カレンダー照会 - {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
    {{ block.super }}
{% endblock breadcrumbs %}
{% block content %}
    <h5 class="mb-3">カレンダー照会</h5>
    <p>次のURLのカレンダーを照会すると、自分の端末のカレンダーに自動でFairWindの予定が同期されます。</p>
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input class="form-control"
                   type="text"
                   value="{{ request.scheme }}://{{ request.get_host }}{% url 'calendar:ics' calendar_uuid %}"
                   aria-label="readonly"
                   readonly
                   onFocus="javascript:this.select()"/>
            {% bootstrap_button "リセット" button_type="submit" button_class="btn-danger" %}
        </div>
    </form>
{% endblock content %}
