{% extends "calendar/base.html" %}

{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-md-3">

            {% include "calendar/includes/month.html" %}

            <hr/>
            <form method="post">
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-group row">
                        <label for="{{ field.id_for_label }}"
                               class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                {% csrf_token %}
                <button type="submit"
                        class="btn btn-primary btn-block">送信</button>
            </form>
        </div>
        <div class="col-md-9">

            {% include "calendar/includes/week.html" %}

        </div>
    </div>
{% endblock content %}
