{% extends "accounts/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}

{% block customcss %}
{% endblock customcss %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "担当" "accounts:division" %}
{% endblock %}
{% block content %}
    <a href="{% url 'accounts:division_create' %}"
       class="btn btn-primary mb-3"
       tabindex="-1"
       role="button"
       aria-disabled="true">新規作成</a>
    <div class="row">
        {% for division in object_list %}
            <div class="col-sm-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ division.name }}</h5>
                        <a href="{% url 'accounts:division_update' division.pk %}"
                           class="btn btn-dark btn-sm"
                           tabindex="-1"
                           role="button"
                           aria-disabled="true">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="16"
                                 height="16"
                                 fill="currentColor"
                                 class="bi bi-pen-fill"
                                 viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                            </svg>
                        編集</a>
                        <a href="{% url 'accounts:division_delete' division.pk %}"
                           class="btn btn-danger btn-sm"
                           tabindex="-1"
                           role="button"
                           aria-disabled="true">削除</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
