{% extends "accounts/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block title %}
    担当の更新 - {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "担当" "accounts:division" %}
    {% breadcrumb object.name "accounts:division_delete" object.id %}
{% endblock breadcrumbs %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "更新" button_type="submit" %}

        {% include 'components/cancel.html' %}

    </form>
{% endblock content %}
