{% extends "accounts/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block customcss %}
{% endblock customcss %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "班" "accounts:group" %}
    {% breadcrumb "新規作成" "accounts:group_create" %}
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "登録" button_type="submit" %}

        {% include 'components/cancel.html' %}

    </form>
{% endblock content %}
