{% extends "accounts/base.html" %}

{% load widget_tweaks %}

{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block customcss %}
{% endblock customcss %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "班" "accounts:group" %}
    {% breadcrumb object.name "accounts:group_delete" object.id %}
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "更新" button_type="submit" %}

        {% include 'components/cancel.html' %}

    </form>
{% endblock content %}
