{% extends "events/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% load django_bootstrap5 %}
{% load static %}

{% block head %}
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "学校" "schools:school_list" %}
    {% breadcrumb "学校データベース更新" "schools:db_update" %}
{% endblock breadcrumbs %}
{% block content %}
    <p>
        文部科学省が定めている「学校コード」のデータをもとにデータベースを更新します。
        文部科学省のウェブサイト上にある2つのCSVファイルのURLを入力してください。
    </p>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "更新" button_type="submit" %}
    </form>
{% endblock content %}
