{% extends "events/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% load static %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "学校" "events:school_list" %}
    {% breadcrumb object.name "events:school_list" object.id %}
{% endblock breadcrumbs %}
{% block content %}
    <h4 class="mb-3">{{ object.name }}</h4>
    <div class="mb-3">
        <span class="badge rounded-pill bg-dark px-3 py-2 fw-normal">{{ object.prefecture }}</span>
        <span class="badge rounded-pill bg-dark px-3 py-2 fw-normal">{{ object.establisher }}</span>
        <span class="badge rounded-pill bg-dark px-3 py-2 fw-normal">{{ object.type }}</span>
        <span class="badge rounded-pill bg-primary px-3 py-2 fw-normal">{{ object.code }}</span>
    </div>
    {% if object.detail %}
        <div class="card">
            <div class="card-body">{{ object.detail.memo }}</div>
        </div>
    {% endif %}
{% endblock content %}
