{% extends "accounts/base.html" %}

{% load static %}

{% load django_bootstrap5 %}
{% load django_bootstrap_breadcrumbs %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'login.css' %}"/>
{% endblock head %}
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "ログイン" "accounts:login" %}
{% endblock breadcrumbs %}
{% block content %}
    <main class="form-signin">
        {{ context }}
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">ログイン</h1>
            {% if next %}<p>このページにアクセスするにはログインしてください。</p>{% endif %}
            {% if form.errors %}<p>正しいユーザー名とパスワードを入力してください。</p>{% endif %}
            {% bootstrap_field form.username layout="floating" wrapper_class="" %}
            {% bootstrap_field form.password layout="floating" %}
            <input type="hidden"
                   name="next"
                   value="{{ next }}"/>
            {% bootstrap_button content="ログイン" button_type="submit" extra_classes="w-100 btn-lg" %}
        </form>
    </main>
{% endblock content %}
