{% extends "accounts/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block customcss %}
{% endblock customcss %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "パスワード変更" "accounts:password_change" %}
{% endblock breadcrumbs %}
{% block content %}
    <p>元のパスワードがわからない場合は、このフォームでパスワードを変更することはできません。 直接プラットフォーム担当に申し出てください。</p>
    {{ context }}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "変更" button_type="submit" %}
    </form>
{% endblock content %}
