{% extends "accounts/base.html" %}

{% load widget_tweaks %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}
{% load static %}

{% block customcss %}
{% endblock customcss %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "ユーザー新規登録" "accounts:signup" %}
{% endblock %}
{% block content %}
    {{ context }}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "登録" button_type="submit" %}
        <!--# TODO: 注釈を過去のデータを参考に復元する-->
        <!--# TODO: widget-tweaksは必要？-->
    </form>
{% endblock content %}
