{% extends "accounts/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    ユーザー新規登録 - {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "ユーザー新規登録" "accounts:signup" %}
{% endblock breadcrumbs %}
{% block content %}
    {{ context }}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "登録" button_type="submit" %}
    </form>
{% endblock content %}
