{% extends "accounts/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    ユーザー情報更新 - {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "ユーザー情報更新" "accounts:update" %}
{% endblock breadcrumbs %}
{% block content %}

    {% include 'components/messages.html' %}

    <p>ユーザー名や姓名の変更を希望する場合は、プラットフォーム担当にお知らせください。</p>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "更新" button_type="submit" %}
    </form>
{% endblock content %}
