.card {
    overflow: hidden;
}

.table-responsive {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1)) 0 0/20px 100%, linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1)) right/20px 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-left: 0;
    padding-right: 0;
}


.table-responsive table {
    background: linear-gradient(to left, hsla(0, 0%, 100%, 0), white 30px) 0 0 / 50px 100%, linear-gradient(to right, hsla(0, 0%, 100%, 0), white 30px) right / 50px 100%;
    background-repeat: no-repeat;
    background-attachment: local;
    border-collapse: collapse;
}

.table-responsive table tr>*:first-child {
    padding-left: var(--bs-card-spacer-x);
}