{% extends "recruitments/base.html" %}

{% load static %}

{% load md_to_html %}
{% load django_bootstrap5 %}
{% load django_bootstrap_breadcrumbs %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'utils/css/markdown.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'events/reflection_md.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'utils/css/card-scrollable.css' %}"/>
    <style>
        .scrollable {
            max-height: 360px;
        }
    </style>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb event.name "events:event_detail" event.pk %}
    {% breadcrumb "振り返り" "events:reflection_list" event.pk %}
{% endblock breadcrumbs %}
{% block content %}
    <h4 class="mb-3">{{ event.name }}</h4>
    <!-- Button trigger modal -->
    {% if user.pk in event.get_participants %}
        <a href="{% url 'events:reflection_general' event.pk %}"
           class="btn btn-secondary mb-3">全体の振り返り</a>
        <a href="{% url 'events:reflection_post' event.pk %}"
           class="btn btn-primary mb-3">個人の振り返り</a>
    {% endif %}
    {% if reflection_general %}
        <h5 class="mb-3">全体の振り返り</h5>
        <div class="card mb-3">
            <div class="card-body reflection">
                <div class="card-text">{{ reflection_general.reflection|md_to_html }}</div>
            </div>
        </div>
    {% endif %}
    {% if object_list %}<h5 class="my-3">個人の振り返り</h5>{% endif %}
    {% for reflection in object_list %}
        <div class="card mb-3">
            <div class="card-header">{{ reflection.user }}</div>
            <div class="card-body scrollable">
                <div class="card-text">{{ reflection.reflection|md_to_html }}</div>
            </div>
        </div>
    {% empty %}
        <p>まだ振り返りがありません。</p>
    {% endfor %}
{% endblock content %}
