{% extends "contact/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block head %}
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if object %}
        {% breadcrumb object.person "contact:thread" object.pk %}
        {% breadcrumb "編集" "contact:contact_update" object.pk %}
    {% else %}
        {% breadcrumb "新規作成" "contact:contact_create" %}
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "保存" button_type="submit" %}
    </form>
{% endblock content %}
