{% extends "recruitments/base.html" %}

{% load static %}

{% load django_bootstrap5 %}
{% load django_bootstrap_breadcrumbs %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.6.1,npm/tablesorter@2.31.3/dist/js/jquery.tablesorter.min.js"></script>
    <script>
        $(function() {
            $(".sort").tablesorter();
        });
    </script>
    <link rel="stylesheet"
          href="{% static 'utils/css/tablesorter.css' %}">
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "出欠一覧" "recruitment:recruitment_list" %}
{% endblock breadcrumbs %}
{% block content %}
    <h5>{{ event.name }}</h5>
    <ul>
        <li>
            ◎は○のタブで<b>太字</b>で表示されます。
        </li>
        <li>班内メンバーはグレーの背景で表示されます。</li>
        <li>表の見出しをクリックすることで、ソートできます。</li>
    </ul>
    <ul class="nav nav-tabs"
        id="myTab"
        role="tablist">
        {% for option in options %}
            <li class="nav-item"
                role="presentation">
                <button class="nav-link
                               {% if forloop.first %}
                                   active
                               {% endif %}"
                        id="{{ option.0 }}-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#{{ option.0 }}"
                        type="button"
                        role="tab"
                        aria-controls="{{ option.0 }}">
                    {{ option.1 }}
                </button>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for option in options %}
            <div class="tab-pane fade show
                        {% if forloop.first %}
                            active
                        {% endif %}"
                 id="{{ option.0 }}"
                 role="tabpanel"
                 aria-labelledby="{{ option.0 }}-tab">
                <table class="table sort">
                    <thead>
                        <tr>
                            <th scope="col">氏名</th>
                            <th scope="col">期</th>
                            <th scope="col">所属</th>
                            <th scope="col">コメント</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if forloop.first %}
                            {% for application in object_list %}
                                {% if application.preference == "◎" %}

                                    {% include "recruitments/list_component.html" %}

                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% for application in object_list %}
                            {% if application.preference == option.1 %}

                                {% include "recruitments/list_component.html" %}

                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
