{% extends "events/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block customcss %}
{% endblock customcss %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.event "events:event_detail" object.event.id %}
    {% breadcrumb "打診取消" "events:event_cancel_invitation" %}
{% endblock breadcrumbs %}
{% block content %}
    <div class="mb-3">
        <p>
            <strong>{{ object.participant|cut:" " }}</strong>さんへの打診を取り消しますか？
        </p>
        <p>打診を取り消したメンバーには、もう一度打診することができます。</p>
    </div>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_button "取り消す" button_type="submit" button_class="btn-danger" %}

        {% include 'components/cancel.html' %}

    </form>
{% endblock content %}
