{% extends "events/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block head %}
    <style>
        .table > tbody > tr > * {
            padding-top: .75rem !important;
            padding-bottom: .75rem !important;
        }

        .table > tbody > tr:last-child > * {
            border-bottom: 0;
        }

        .table {
            margin-bottom: 0;
        }

        tr > th {
            width: 1px;
            white-space: nowrap;
        }

        #id_status {
            --bs-bg-opacity: 1;
            display: block;
            width: 100%;
            padding: .275rem 2.25rem .275rem .75rem;
            -moz-padding-start: calc(0.75rem - 3px);
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right .75rem center;
            background-size: 16px 12px;
            border: 0;
            border-radius: 50px;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb event.name "events:event_detail" event.id %}
{% endblock breadcrumbs %}
{% block content %}
    <h1 class="mb-3 fs-4">{{ event.name }}</h1>
    <div class="mb-3">
        <span class="badge rounded-pill bg-light border border-dark text-dark px-3 py-2 fw-normal">{{ event.type }}</span>
        {% if user in event.admin.all or user.is_staff %}
            <span class="badge rounded-pill bg-light border border-dark text-dark p-0 fw-normal">
                <form method="post">
                    {% csrf_token %}
                    {{ form.status }}
                </form>
            </span>
        {% else %}
            <span class="badge rounded-pill bg-light border border-dark text-dark px-3 py-2 fw-normal">{{ event.status }}</span>
        {% endif %}
    </div>
    {% if user in event.admin.all or user.is_staff %}
        <a href="{% url 'events:event_update' event.pk %}"
           class="btn btn-dark btn-sm">

            {% include 'components/edit_svg.html' %}

        編集</a>
    {% endif %}
    <a href="{% url 'events:event_participants' event.pk %}"
       class="btn btn-dark btn-sm">参加者一覧</a>
    {% if object.status|stringformat:"s" == "参加者募集中" %}
        <a href="{% url 'events:recruitment' %}"
           class="btn btn-primary  btn-sm"
           tabindex="-1"
           role="button"
           aria-disabled="true">出欠掲示板</a>
    {% endif %}
    {% if is_invited %}
        <a href="{% url 'events:event_reply_invitation' event.pk %}"
           class="btn btn-warning btn-sm">打診回答</a>
    {% endif %}
    {% if user in event.admin.all %}
        <div>
            <small class="text-muted">あなたはこの企画の管理者です</small>
        </div>
    {% endif %}
    <div class="card mt-4">
        <div class="card-header border-bottom d-flex align-items-center">
            <h2 class="fs-5 mb-0">基本情報</h2>
        </div>
        <div class="card-body py-0">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">対象校</th>
                        <td>
                            <ul class="list-inline mb-0">
                                {% for school in event.school.all %}
                                    <li class="list-inline-item">
                                        <a href="{% url 'schools:school_detail' school.pk %}">{{ school }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">日時</th>
                        <td>
                            {% if event.start_datetime|date:"Ymd" == event.end_datetime|date:"Ymd" %}
                                {{ event.start_datetime|date:"Y年m月d日（D）" }}
                                {{ event.start_datetime|time:"H:i" }}〜{{ event.end_datetime|time:"H:i" }}
                            {% else %}
                                <span>{{ event.start_datetime|date:"Y/m/d（D）H:i" }}</span>
                                〜
                                <span>{{ event.end_datetime|date:"Y/m/d（D）H:i" }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">場所</th>
                        <td>{{ event.venue|default:"" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">統括</th>
                        <td>{{ event.person_in_charge }}</td>
                    </tr>
                    <tr>
                        <th scope="row">参加者</th>
                        <td>{{ participants }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if user.is_staff or user in event.admin.all %}
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">ヒント</h5>
                <p>打診を受けたメンバーは、次のURLから打診に回答することができます。</p>
                <input class="form-control"
                       type="text"
                       value="{{ request.scheme }}://{{ request.get_host }}{% url 'events:event_reply_invitation' event.id %}"
                       aria-label="readonly"
                       readonly
                       onFocus="javascript:this.select()"/>
            </div>
        </div>
    {% endif %}
{% endblock content %}
