{% extends "events/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'events/event_detail.css' %}"/>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb event.name "events:event_detail" event.id %}
{% endblock breadcrumbs %}
{% block content %}
    <h1 class="mb-3 fs-4">{{ event.name }}</h1>
    <div class="mb-3">
        <span class="badge rounded-pill bg-light border border-dark text-dark px-3 py-2 fw-normal">{{ event.type }}</span>
        {% if user in event.admin.all or user.is_staff %}
            <div class="badge rounded-pill bg-light border border-dark text-dark p-0 fw-normal">
                <form method="post">
                    {% csrf_token %}
                    {{ form.status }}
                </form>
            </div>
        {% else %}
            <span class="badge rounded-pill bg-light border border-dark text-dark px-3 py-2 fw-normal">{{ event.status }}</span>
        {% endif %}
    </div>
    {% if user in event.admin.all or user.is_staff %}
        <a href="{% url 'events:event_update' event.pk %}"
           class="btn btn-dark btn-sm">

            {% include 'components/edit_svg.html' %}

        編集</a>
    {% endif %}
    {% if object.status|stringformat:"s" == "参加者募集中" or object.status|stringformat:"s" == "参加者打診中" %}
        {% if user in event.admin.all %}
            <a href="{% url 'events:recruitment_list' event.pk %}"
               class="btn btn-dark btn-sm">出欠一覧</a>
        {% endif %}
    {% endif %}
    {% if object.status|stringformat:"s" != "参加者募集中" %}
        <a href="{% url 'events:event_participants' event.pk %}"
           class="btn btn-dark btn-sm">参加者一覧</a>
    {% endif %}
    {% if object.status|stringformat:"s" == "参加者募集中" %}
        <a href="{% url 'events:recruitment' %}"
           class="btn btn-warning  btn-sm"
           tabindex="-1"
           role="button"
           aria-disabled="true">出欠掲示板</a>
    {% endif %}
    {% if user in event.admin.all %}
        {% if object.status|stringformat:"s" != "参加者募集中" and object.status|stringformat:"s" != "参加者打診中" %}
            <a href="{% url 'events:bill_list' event.pk %}"
               class="btn btn-dark btn-sm">請求書</a>
        {% endif %}
    {% endif %}
    {% if is_invited %}
        <a href="{% url 'events:event_reply_invitation' event.pk %}"
           class="btn btn-warning btn-sm">打診回答</a>
    {% endif %}
    {% if user in event.admin.all %}
        <div>
            <small class="text-muted">あなたはこの企画の管理者です</small>
        </div>
    {% endif %}
    <div class="card mt-4">
        <div class="card-header border-bottom d-flex align-items-center">
            <h2 class="fs-5 mb-0">基本情報</h2>
        </div>
        <div class="card-body py-0">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">対象校</th>
                        <td>
                            <ul class="list-inline mb-0">
                                {% for school in event.school.all %}
                                    <li class="list-inline-item">
                                        <a href="{% url 'schools:school_detail' school.pk %}">{{ school }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">日時</th>
                        <td>
                            {% if event.start_datetime|date:"Ymd" == event.end_datetime|date:"Ymd" %}
                                {{ event.start_datetime|date:"Y年m月d日（D）" }}
                                {{ event.start_datetime|time:"H:i" }}〜{{ event.end_datetime|time:"H:i" }}
                            {% else %}
                                <span>{{ event.start_datetime|date:"Y/m/d（D）H:i" }}</span>
                                〜
                                <span>{{ event.end_datetime|date:"Y/m/d（D）H:i" }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">場所</th>
                        <td>{{ event.venue|default:"" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">統括</th>
                        <td>{{ event.person_in_charge }}</td>
                    </tr>
                    <tr>
                        <th scope="row">参加者</th>
                        <td>{{ participants }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if user.is_staff or user in event.admin.all %}
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">ヒント</h5>
                <p>打診を受けたメンバーは、次のURLから打診に回答することができます。</p>
                <input class="form-control"
                       type="text"
                       value="{{ request.scheme }}://{{ request.get_host }}{% url 'events:event_reply_invitation' event.id %}"
                       aria-label="readonly"
                       readonly
                       onFocus="javascript:this.select()"/>
            </div>
        </div>
    {% endif %}
{% endblock content %}
