{% extends "events/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% load static %}

{% block title %}
    すべての企画 - {{ block.super }}
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'events/badge.css' %}"/>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "すべての企画" "events:event_list_all" %}
{% endblock breadcrumbs %}
{% block content %}

    {% include 'components/searchform.html' %}

    {% for event in object_list %}

        {% include 'events/event_list_component.html' %}

    {% endfor %}

    {% include 'components/pagination.html' %}

{% endblock content %}
