{% extends "events/base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'events/badge.css' %}"/>
{% endblock head %}
{% block content %}
    <a href="{% url 'events:event_create' %}"
       class="btn btn-primary mb-3">新規登録</a>
    {% for event in object_list %}
        {% if event.status|stringformat:"s" != "アーカイブ" %}

            {% include 'events/event_list_component.html' %}

        {% endif %}
    {% endfor %}
    <div class="mb-3 text-end">
        <a href="{% url 'events:event_list_all' %}">すべての企画</a>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'schools:school_list' %}"
               class="btn btn-outline-dark d-flex flex-column py-3 mb-3">
                <div>学校</div>
            </a>
        </div>
    </div>
{% endblock content %}
