{% extends "events/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'utils/css/suggest.css' %}"/>
    <script src="{% static 'utils/js/suggest.js' %}"></script>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb event.name "events:event_detail" event.id %}
    {% breadcrumb "打診" "events:event_invite" %}
{% endblock breadcrumbs %}
{% block content %}
    <h4>{{ event.name }}</h4>
    {% if is_accepting %}
        <p>
            <a href="{% url 'events:recruitment_list' event.id %}">出欠掲示板</a>からも打診を行うことができます。
        </p>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="floating" %}
            {% bootstrap_button "打診" button_type="submit" %}

            {% include 'components/cancel.html' %}

        </form>
    {% else %}
        この企画の参加者はすでに確定しました。
    {% endif %}
{% endblock content %}
