{% extends "events/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'accounts/css/suggest.css' %}"/>
    <script src="{% static 'accounts/js/suggest.js' %}"></script>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb event.name "events:event_detail" event.id %}
    {% breadcrumb "打診" "events:event_invite" %}
{% endblock breadcrumbs %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "打診" button_type="submit" %}

        {% include 'components/cancel.html' %}

    </form>
{% endblock content %}
