{% extends "events/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block head %}
    <style>
        .dot {
            width: 12px;
            height: 12px;
        }

        .rounded-circle {
            border-radius: 50% !important;
        }

        .table>tbody>tr:last-child>td {
            border-bottom: 0;
        }

        tr > td:first-child {
            width: 1px;
            white-space: nowrap;
            padding-right: 1em;
        }
    </style>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb event.name "events:event_detail" event.id %}
    {% breadcrumb "参加者" "events:event_participation" %}
{% endblock breadcrumbs %}
{% block content %}
    <!--参加者-->
    <div class="card border mt-4">
        <div class="card-header border-bottom d-flex align-items-center">
            <h2 class="fs-5 fw-bold mb-0">参加者</h2>
            <span class="badge rounded-pill bg-dark ms-2">{{ counter_participate }}</span>
        </div>
        <div class="card-body py-0">
            <table class="table caption-top mb-0">
                <tbody>
                    <!--参加決定者-->
                    {% for participation in object_list %}
                        {% if participation.status|stringformat:"s" == "参加" %}
                            <tr>
                                <td class="align-middle">
                                    <span class="h6 mb-1">{{ participation.participant }}</span>
                                    <div class="align-items-center">
                                        <span class="badge rounded-pill bg-light text-dark d-inline-flex border border-success">
                                            <span class="bg-success dot rounded-circle me-1"></span>
                                            <small>参加</small>
                                        </span>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    {{ participation.participant.grade }}期
                                    <span class="text-muted">／</span>
                                    {{ participation.participant.course }}
                                    {% if participation.participant.faculty %}
                                        → {{ participation.participant.faculty }}{{ participation.participant.department }}
                                    {% endif %}
                                </td>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card border mt-4">
        <div class="card-header border-bottom d-flex align-items-center">
            <h2 class="fs-5 fw-bold mb-0">参加打診中</h2>
            <span class="badge rounded-pill bg-dark ms-2">{{ counter_waiting }}</span>
            <div class="col text-end">
                {% if user.is_staff or user in event.admin.all %}
                    <a href="{% url 'events:event_invite' event.id %}"
                       class="btn btn-sm btn-primary">打診</a>
                {% endif %}
                <!--TODO: 参加者募集中時以外は打診できないようにする-->
            </div>
        </div>
        <div class="card-body py-0">
            <table class="table caption-top mb-0">
                <tbody>
                    <!--参加打診者-->
                    {% for participation in object_list %}
                        {% if participation.status|stringformat:"s" == "回答待ち" %}
                            {% if user in event.admin.all or user.is_staff or participation.participant|stringformat:"s" == user|stringformat:"s" %}
                                <tr>
                                    <td class="align-middle">
                                        <span class="h6 mb-1">{{ participation.participant }}</span>
                                        <div class="align-items-center">
                                            <span class="badge rounded-pill bg-light text-dark d-inline-flex border border-warning">
                                                <span class="bg-warning dot rounded-circle me-1"></span>
                                                <small>打診中</small>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        {{ participation.participant.grade }}期
                                        <span class="text-muted">／</span>
                                        {{ participation.participant.course }}
                                        {% if participation.participant.faculty %}
                                            → {{ participation.participant.faculty }}{{ participation.participant.department }}
                                        {% endif %}
                                    </td>
                                    <td class="align-middle text-end">
                                        {% if participation.participant|stringformat:"s" == user|stringformat:"s" %}
                                            <a href="{% url 'events:event_reply_invitation' event.pk participation.pk %}"
                                               class="btn btn-sm btn-warning d-inline-flex align-items-cente my-1">打診回答</a>
                                        {% endif %}
                                        {% if user in event.admin.all or user.is_staff %}
                                            <a href="{% url 'events:event_cancel_invitation' event.pk participation.pk %}"
                                               class="btn btn-sm btn-danger d-inline-flex align-items-center my-1">打診取り消し</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if user in event.admin.all or user.is_staff %}
        <div class="card border mt-4">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                <h2 class="fs-5 fw-bold mb-0">参加辞退者</h2>
            </div>
            <div class="card-body py-0">
                <table class="table mb-0">
                    <tbody>
                        <!--参加辞退者-->
                        {% for participation in object_list %}
                            {% if participation.status|stringformat:"s" == "辞退" %}
                                <tr>
                                    <td class="align-middle">
                                        <span class="h6 mb-1">{{ participation.participant }}</span>
                                        <div class="align-items-center">
                                            <span class="badge rounded-pill bg-light text-dark d-inline-flex border border-danger">
                                                <span class="bg-danger dot rounded-circle me-1"></span>
                                                <small>辞退</small>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        {{ participation.participant.grade }}期
                                        <span class="text-muted">／</span>
                                        {{ participation.participant.course }}
                                        {% if participation.participant.faculty %}
                                            → {{ participation.participant.faculty }}{{ participation.participant.department }}
                                        {% endif %}
                                    </td>
                                    <td class="align-middle"></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock content %}
