{% extends "events/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block customcss %}
{% endblock customcss %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.event "events:event_detail" object.event.id %}
    {% breadcrumb "打診に回答" "events:event_reply_invitation" %}
{% endblock breadcrumbs %}
{% block content %}
    {% if object.status|stringformat:"s" == "回答待ち" %}
        <div class="mb-3">
            <p>「参加」か「辞退」を選択してください。</p>
        </div>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="floating" %}
            {% bootstrap_button "送信" button_type="submit" %}

            {% include 'components/cancel.html' %}

        </form>
    {% else %}
        <div>
            <p>この打診には回答済みです。</p>
        </div>
    {% endif %}
{% endblock content %}
