{% extends "events/base.html" %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block title %}
    企画の編集 - {{ block.super }}
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'utils/css/suggest.css' %}"/>
    <script src="{% static 'utils/js/suggest.js' %}"></script>
    <link rel="stylesheet"
          href="{% static 'utils/css/dselect.css' %}"/>
    <script src="{% static 'utils/js/dselect.js' %}"></script>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.name "events:event_detail" object.id %}
    {% breadcrumb "編集" "events:event_invite" %}
{% endblock breadcrumbs %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div>
                {% for error in forms.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
            </div>
        {% endif %}
        {% bootstrap_form form layout="floating" exclude="person_in_charge,admin,school" %}
        {% bootstrap_field form.person_in_charge %}
        {% bootstrap_field form.admin layout="floating" %}
        {% bootstrap_field form.school layout="floating" %}
        {% bootstrap_button "登録" button_type="submit" %}
    </form>
    <script>
        const config = {
            search: true, // Toggle search feature. Default: false
        }
        dselect(document.querySelector('#id_person_in_charge'), config)
        dselect(document.querySelector('#id_admin'), config)
    </script>
{% endblock content %}
