{% extends "events/base.html" %}

{% load static %}

{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}
{% load django_bootstrap5 %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'accounts/css/suggest.css' %}"/>
    <script src="{% static 'accounts/js/suggest.js' %}"></script>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.name "events:event_list" object.id %}
{% endblock breadcrumbs %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div>
                {% for error in forms.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
            </div>
        {% endif %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button "更新" button_type="submit" %}
    </form>
{% endblock content %}
