{% extends "schools/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% load django_bootstrap5 %}
{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'utils/css/markdown.css' %}"/>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.name "schools:school_detail" object.pk %}
    {% breadcrumb "編集" "schools:school_detail_update" %}
{% endblock breadcrumbs %}
{% block content %}
    <h1 class="mb-3 fs-4">{{ object.school.name }}</h1>
    <form method="post"
          id="form"
          style="visibility:hidden">
        {% csrf_token %}
        {{ form.memo }}
        {% bootstrap_button "更新" button_type="submit" %}
    </form>

    {% include "components/simplemde.html" %}

    <script src="{% static 'utils/js/simplemde-customize.js' %}"></script>
{% endblock content %}
