{% extends "schools/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'utils/css/highlight.css' %}"/>
{% endblock head %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.name "schools:school_detail" object.pk %}
{% endblock breadcrumbs %}
{% block content %}
    <h1 class="mb-3 fs-4">{{ object.name }}</h1>
    <div class="mb-3">
        <span class="badge rounded-pill bg-light border border-dark text-dark px-3 py-2 fw-normal">{{ object.prefecture }}</span>
        <span class="badge rounded-pill bg-light border border-dark text-dark px-3 py-2 fw-normal">{{ object.establisher }}</span>
        <span class="badge rounded-pill bg-light border border-dark text-dark px-3 py-2 fw-normal">{{ object.type }}</span>
    </div>
    <a href="{% url 'schools:school_detail_update' object.pk %}"
       class="btn btn-dark btn-sm mb-3"
       tabindex="-1"
       role="button"
       aria-disabled="true">

        {% include 'components/edit_svg.html' %}

    編集</a>
    {% if object.memo %}
        <div class="card mb-1">
            <div class="card-body">{{ object.get_memo_html|safe }}</div>
        </div>
        <p class="text-end text-muted mb-0">最終更新：{{ object.last_updated|date:"Y/n/j H:i" }}</p>
    {% endif %}
{% endblock content %}
